.pageVsPlayer {
  //   display: flex;
  height: 100vh;
  background-color: aqua;
}
.battleRoom {
  display: flex;
  font-family: "Press Start 2P";
  color: brown;
  font-size: 30px;
  margin-left: 650px;
}
.arena {
  display: flex;

  margin-left: 300px;
}

.kiri {
  display: flex;
  flex-direction: column;
  //   border: 1px solid red;
  width: 200px;
  margin-left: 100px;
}
.player1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  color: blue;
  //   border: 1px solid red;
  width: 200px;
}
.rock1 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}
.paper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}

.scissor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}

.tengah {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  margin-left: 100px;
}

.tengah1 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}
.tengah2 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}

.kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  margin-left: 100px;
}

.kanan1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  color: yellow;
  //   border: 1px solid red;
  width: 200px;
}
.kanan2 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}
.kanan3 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}

.kanan4 {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 1px solid red;
  width: 200px;
}
