.mainPage {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.left {
  flex: 1;
  // background-color: orange;
  height: 100%;

  .bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.right {
  width: 460px;
  background-color: white;
  // height: 100%;
  padding: 30px;
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
  }
}
