.pageHistory {
  height: 100vh;
  background-image: url("../../assets/image/coba.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.judulPageHistory {
  display: flex;
  font-family: "Press Start 2P";
  color: black;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  margin-left: 130px;
}

// .boxAll {
//   display: flex;
// }
.box1 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  .box1a {
    padding: 10px;
    border: 1px solid black;
    width: 200px;

    .box1aFont {
      font-weight: 200px;
    }
  }
}

.box2 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  .box2a {
    padding: 10px;
    border: 1px solid black;
    width: 200px;

    .box2aFont {
      font-weight: 200px;
    }
  }
}

.box3 {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  .box3a {
    padding: 10px;
    border: 1px solid black;
    width: 200px;

    .box3aFont {
      font-weight: 200px;
    }
  }
}
