.background {
  height: 100vh;
  //   display: flex;
  background-color: grey;
  box-sizing: border-box;
}

.judulpage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  font-size: 30px;
  width: 800px;
  margin-left: 450px;

  //   margin-left: 10px;
}

.pilihan {
  display: flex;
  // border: 1px solid red;
  flex-wrap: wrap;
  margin-left: 100px;
  // // justify-content: center;
  // // align-items: center;
  // font-family: "Press Start 2P";
  // font-size: 10px;
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P";
  font-size: 30px;
  margin-top: 25px;
  // border: 5px solid blue;
}

.rock {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid blue;
  margin-left: 150px;
  cursor: pointer;
}

.paper {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid blue;
  margin-left: 150px;
  cursor: pointer;
}
.scissor {
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 5px solid blue;
  margin-left: 100px;
  cursor: pointer;
}

.btnGame3 {
  text-shadow: -1px -1px black, 1px 1px white;
  box-shadow: 0 0.2em rgb(43, 42, 42);
  cursor: pointer;
  font-size: 30px;
  font-family: "Press Start 2P";
  color: rgb(206, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
  width: 500px;
  height: 50px;
  margin-left: 620px;
  margin-top: 70px;
  background-color: lightgray;
  border-radius: 10px;
}

.btnGame3:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
