.mainPageDash {
  display: flex;
  height: 100vh;
}

.left1 {
  flex: 1;
  //   background-color: green;
  background-image: url("../../assets/image/game.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
}

.right1 {
  width: 460px;
  background-color: grey;
}

.btnGame {
  text-shadow: -1px -1px black, 1px 1px white;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-size: 30px;
  font-family: "Press Start 2P";
  color: rgb(206, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
  width: 500px;
  height: 50px;
  margin-left: 400px;
  margin-top: 200px;
  background-color: lightgray;
  border-radius: 10px;
}

.btnGame:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

.btnGame1 {
  text-shadow: -1px -1px black, 1px 1px white;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-size: 30px;
  font-family: "Press Start 2P";
  color: rgb(206, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid grey;
  width: 500px;
  height: 50px;
  margin-left: 400px;
  margin-top: 20px;
  background-color: lightgray;
  border-radius: 10px;
}

.btnGame1:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
.iconProfil {
  width: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 70%;
  background-color: white;
  margin-left: 150px;
}

.profil {
  font-size: 30px;
  font-family: "Press Start 2P";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
