.inputWrapper {
  .label {
    font-family: "Press Start 2P";
    font-size: 12px;
    color: #2d2d2d;
    margin: 0px;
    margin-bottom: 6px;
  }
  .inputA {
    border: 1px solid grey;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    font-family: "Press Start 2P";
    font-size: 10px;
    background-color: rgb(110, 252, 252);
  }
}
