/* .App {
  text-align: center;
  justify-content: center;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
}

.Login-part {
  margin: 0px;
  margin-top: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  background-image: url(../assets/pink-watercolor-texture.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login-box {
  justify-content: center;
  height: 410px;
  width: 35%;
  box-shadow: 11px 12px 13px 12px #d7b5c0;
  padding-top: 30px;
  border-radius: 40px;
  background-color: white;
}

.Head-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: bolder;
  color: rgba(217, 62, 189, 0.689);
}

.First-input {
  display: flex;
  justify-content: center;
}

input {
  width: 50%;
  height: 50px;
  border-radius: 15px;
  box-shadow: inset 0px 0px 25px 0px #ffd5f4;
  border: none;
  outline: none;
  background-color: #fff;
}

.username {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 20% 0 25px;
  justify-self: left;
}

.name {
  padding-left: 70px;
  font-size: 20px;
}

.Second-input {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

button {
  width: 40%;
  height: 50px;
  border-radius: 60px;
  background-color: #ff99cc;
  color: white;
  font-size: 25px;
  border: none;
  cursor: pointer;
}

.login-button {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  transition: 0.5s;
}

.login-button:hover {
  transform: scale(1.05);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
