.inputWrapper {
  .labelB {
    font-family: "Press Start 2P";
    font-size: 12px;
    color: #2d2d2d;
    margin: 0px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid blue;
    width: fit-content;
    margin-left: 630px;
  }
  .inputB {
    // border: 1px solid grey;
    padding: 12px;
    border-radius: 8px;
    outline: none;
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Press Start 2P";
    font-size: 10px;
    background-color: whitesmoke;
    margin-left: 680px;
  }
}
